body {
    height: 98.4vh;
    background-image: url('img/bg.jpg');
    background-color: #0212fe;
    background-repeat: repeat-x;
    background-position: 10px bottom;

}

#mario, #running, #jumping {
    height: 180px;
    position: absolute;
    right: 50%;
    bottom: 83px;
}


#running {
    display: none;
}

#jumping {
    display: none;
}