<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive</title>
    <link rel="stylesheet" href="responsivestyle.css">
</head>

<body>
    <div class="container">
        <header>
            <img src="https://www.seoclerk.com/pics/551103-1TOqFD1502285018.jpg" alt="logo">
            <div>
                <h1>Howard Aleksander</h1>
                <p>Designer at BitLayouts</p>
            </div>
        </header>

        <main>
            <section id="about">
                <h3>About</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rerum voluptates sapiente. Debitis, fugit
                    sequi. Omnis reiciendis culpa hic ipsa ex. Eveniet, nesciunt blanditiis vero officiis in laborum laudantium
                    aspernatur.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rerum voluptates sapiente.
                    Debitis, fugit sequi. Omnis reiciendis culpa hic ipsa ex. Eveniet, nesciunt blanditiis vero officiis
                    in laborum laudantium aspernatur.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rerum
                    voluptates sapiente. Debitis, fugit sequi. Omnis reiciendis culpa hic ipsa ex. Eveniet, nesciunt blanditiis
                    vero officiis in laborum laudantium aspernatur.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fugiat rerum voluptates sapiente. Debitis, fugit sequi. Omnis reiciendis culpa hic ipsa ex. Eveniet,
                    nesciunt blanditiis vero officiis in laborum laudantium aspernatur.</p>
            </section>
            <section id="post">
                <h3>Post No 2</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rerum voluptates sapiente. Debitis, fugit
                    sequi. Omnis reiciendis culpa hic ipsa ex. Eveniet, nesciunt blanditiis vero officiis in laborum laudantium
                    aspernatur.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rerum voluptates sapiente.
                    Debitis, fugit sequi. Omnis reiciendis culpa hic ipsa ex. Eveniet, nesciunt blanditiis vero officiis
                    in laborum laudantium aspernatur.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rerum
                    voluptates sapiente. Debitis, fugit sequi. Omnis reiciendis culpa hic ipsa ex. Eveniet, nesciunt blanditiis
                    vero officiis in laborum laudantium aspernatur.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fugiat rerum voluptates sapiente. Debitis, fugit sequi. Omnis reiciendis culpa hic ipsa ex. Eveniet,
                    nesciunt blanditiis vero officiis in laborum laudantium aspernatur.</p>
                <h3>Post No 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rerum voluptates sapiente. Debitis, fugit
                    sequi. Omnis reiciendis culpa hic ipsa ex. Eveniet, nesciunt blanditiis vero officiis in laborum laudantium
                    aspernatur.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rerum voluptates sapiente.
                    Debitis, fugit sequi. Omnis reiciendis culpa hic ipsa ex. Eveniet, nesciunt blanditiis vero officiis
                    in laborum laudantium aspernatur.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rerum
                    voluptates sapiente. Debitis, fugit sequi. Omnis reiciendis culpa hic ipsa ex. Eveniet, nesciunt blanditiis
                    vero officiis in laborum laudantium aspernatur.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fugiat rerum voluptates sapiente. Debitis, fugit sequi. Omnis reiciendis culpa hic ipsa ex. Eveniet,
                    nesciunt blanditiis vero officiis in laborum laudantium aspernatur.</p>
            </section>
        </main>
    </div>
</body>

</html>