<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Images</title>
    <link rel="stylesheet" href="imgstyle.css">
</head>

<body>
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Mainz_Theodor-Heuss-Bruecke_blaue_Stunde_Panorama.jpg" alt="">
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Mainz_Theodor-Heuss-Bruecke_blaue_Stunde_Panorama.jpg" alt="">
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Mainz_Theodor-Heuss-Bruecke_blaue_Stunde_Panorama.jpg" alt="">
</body>

</html>