* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

img:first-child {
    height: 200px;
    float: right;
}

img:nth-child(2) {
    width: 200px;
    margin: 0 auto;
    clear: right;
}

img:nth-child(3) {
    height: 200px;
    width: 200px;
}