@mixin box-shadow {
    -webkit-box-shadow: 5px 5px 7px gray;
    -moz-box-shadow: 5px 5px 7px gray;
    box-shadow: 5px 5px 7px gray;
}

@mixin text-shadow($shadow-color, $blur, $size) {
    -webkit-text-shadow: 0 0 $blur $shadow-color;
    -moz-text-shadow: 0 0 $blur $shadow-color;
    text-shadow: 0 0 $blur $shadow-color;
    font-size: $size;
}