ul {
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

a {
    text-decoration: none;
    color: red;

}

a:visited {
    color: black;
}

a:hover {
    color: green;
}
 a:active {
     color: blue;
 }

 #para::first-letter {
     color: green !important;
 }

#red {
    text-shadow: 4px 4px 2px red;
}